<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ui.Properties.Configs" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ui.Properties.Configs>
            <setting name="bass_email" serializeAs="String">
                <value>tiagofm.profissional@outlook.pt</value>
            </setting>
            <setting name="bass_regkey" serializeAs="String">
                <value>2X182953124818</value>
            </setting>
        </ui.Properties.Configs>
    </userSettings>
</configuration>